$nav-bg: #202020;

$size: 500px;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
main{
  display: flex;
}
nav{
  width: 100%;
  height: 6vmin;
  background: $nav-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6vmin ;
  color: #fff;
}
.input{
  width: 50%;
  min-height: 400px;
  background: #bcbcab;
}
a {
  text-decoration: none;
  color: #4fc1cb;
}
a:hover{
  cursor: pointer;
  color: red;
  font-size: 1.3rem;
  font-weight: 900;
}