/* Made by @gambhirsharma on 12 August 2022

 ##########################################
-- Concept used
- Responsive Units (vmin)
- Used Linear gradient to make boxes
- Used Radial gradient to make circles
- body::after,body::before

-- Tested
- Firefox (Windows/Ubuntu)
- Brave
- Edge

Follow me on twitter for more
https://www.twitter.com/gambhir_sharma/
*/

$size: 15%;

*::after,
*::before {
  content: "";
  display: flex;
  position: absolute;
}

#figma {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  /* color var */
  --black: #000;
  --white: #fff;

  --first: #f24d18;
  --second: #ff7362;
  --third: #a359ff;
  --fourth: #13bdfe;
  --fifth: #02d084;
  --sixth: red;

  /*  all dimensions var  */
  

  /*  Position  */
  // --po1: 33vmin 16vmin;
  // --po2: 47vmin 16vmin;
  // --po3: 33vmin 30vmin;
  // --po4: 47vmin 30vmin;
  // --po5: 33.14vmin 44vmin;
  --po1: 30% 24%;
  --po2: 56.6% 24%;
  --po3: 30% 50.2%;
  --po4: 56.9% 50.2%;
  --po5: 30.8% 76%;

  // &::before {
  //   // position: absolute;
  //   // // height: 100%;
  //   // // width: 100%;
  //   // // background: var(--white);
  //   // position: relative;
  //   // display: flex;
  //   // justify-content: center;
  //   // align-items: center;
  //   // border-radius: 50%;
  // }
  &::after {
    // height: 80vmin;
    // width: 80vmin;
    height: 400px;
    width: 400px;
    position: absolute;
    background-repeat: no-repeat;
    background: radial-gradient(
        circle at var(--po1),
        var(--first) 0%,
        var(--first) $size  - 2%,
        transparent 0%
      ),
      // x  y / width height
      linear-gradient(var(--first), var(--first)) 34.9% 14.5% / 14% 26.9% no-repeat,
      radial-gradient(
        circle at var(--po2),
        var(--second) 0%,
        var(--second) $size - 1% ,
        transparent 0%
      ),
       linear-gradient(var(--second), var(--second)) 45.5% 14.5% /  19.8% 26.9% no-repeat,
      radial-gradient(
        circle at var(--po3),
        var(--third) 0%,
        var(--third) $size,
        transparent 0%
      ),
      linear-gradient(var(--third), var(--third)) 33.3% 50.3% / 16% 25.6% no-repeat,
      radial-gradient(
        circle at var(--po4),
        var(--fourth) 0%,
        var(--fourth) $size + 2%,
        transparent 0%
      ),
      radial-gradient(
        circle at var(--po5),
        var(--fifth) 0%,
        var(--fifth) $size - 2%,
        transparent 0%
      ),
       linear-gradient(var(--fifth), var(--fifth)) 32.5% 72.3% / 16.9% 13% no-repeat;
  }
}
